# Build artifacts
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio Code settings
.vscode/

# Rider settings
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Environment variables
.env

# Backup files
*.bak

# Dependencies
packages/
